body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    color: white;
}

#songDescription {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 3em;
    color: white;
}

#song {
    position: absolute;
    width: 300px;
    bottom: 10px;
    right: 25%;
    left: 50%;
    margin-left: -150px;
}

#myLog {
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 10px;
    left: 2em;
    color: white;
}

.moveGUI {
    position: absolute;
    top: 2em;
    right: -1em;
}

.fpsMeter {
    position: absolute;
    top: 2em;
    left: 1em;
}

#audio-input {
    bottom: 1em;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}

#text-input {
    border: 1px solid #000000;
}

.input-error {
    border: 2px solid #ff0000 !important;
}

#mic {
    margin-left: 5em;
}

#github-button {
    position: absolute;
    bottom: 1em;
    left: 1em;
    background-color: transparent;
}